<p id="notice"><%= notice %></p>

<p>
  <b>Place:</b>
  <%= @comment.place_id %>
</p>

<p>
  <b>Autor:</b>
  <%= @comment.autor %>
</p>

<p>
  <b>Email:</b>
  <%= @comment.email %>
</p>

<p>
  <b>Tekst:</b>
  <%= @comment.tekst %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
