<table cellspacing="1" cellpadding="5" id="tabela">
  <thead>
  <tr>
    <th></th>
    <th style="width:200px;"></th>
	<th></th>
  </tr>
</thead>
<tbody>

<% @places.each do |place| %>
  <tr>
  <td><% link_to(place) do %><%= image_tag place.photo.url(:small) %><% end %></td>
    <td style="vertical-align:top;"><b><%= place.nazwa %></b><br /><%= place.wojewodztwo %><br /><%= place.miasto %><br /><%= place.ulica %><br /><%= place.autor %></td>
    <td class="options" style="width:30px;text-align:center;vertical-align:top;">
	<% link_to(place) do %><img src="/images/show.png" alt="" /><% end %>
	<% link_to(edit_place_path(place)) do %><img src="/images/edit.png" alt="" /><% end %>
    <% link_to(place, :confirm => 'Czy aby napewno chcesz to zrobic?', :method => :delete) do %><img src="/images/del.png" alt="" /><% end %>
	</td>
  </tr>

<% end %>
</tbody>
</table>

<br />
<form action="" method="get">
<input type="text" name="str" />
<input type="submit" value="Szukaj" />
</form>
<br />
<%= will_paginate @places %>

<%= link_to 'Dodaj Miejsce', new_place_path %>
